﻿<%@ Page Language="C#" %>
<!DOCTYPE html>
<html style="height: 100%;">
<head runat="server">
	<title>Push services</title>
</head>
<body style="height: 100%;">
	<table width="100%" height="100%" border="0">
		<tr>
			<td width="100%" height="100%" align="center" valign="middle">
			<ul style="display: inline;">
				<li><a href="mobile.asmx">Mobile API</a></li>
				<li><a href="api.asmx">Main API</a></li>
				<li><a href="admin.asmx">Admin API</a></li>
				</ul>
			</td>
		</tr>
	</table>
</body>
</html>

